/* Global */

body {
  background-color: rgb(255, 255, 255);
}

/* Text */

/* Text */
h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3em;
}

h2 {
  font-family: 'Yellowtail', cursive;
  font-size: 2.25em;
  font-weight: bolder;
}

h3 {
  font-size: 1.5em;
  text-align: center;
}

h4 {
  font-size: 1em;
  text-align: center;
}

h5 {
  font-size: smaller;
  text-align: center;
}

p {
  font-size: 1em;
  text-align: left;
}

.basicText {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: .75em;
  color: grey;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
}

/* main  */

main {
  display: contents;
  width: 900px;
  justify-content: center;
}

/* start grid setup */

header {
  grid-area: header;
}


/* line of icons */
#topRight {
  grid-area: header;
}

/* logo image and name */
#topLeft {
  grid-area: header;
}

/* titles, dates, large image */
#sec1 {
  grid-area: sec1;
}

/* large main image sec1.5 */
#sec15 {
  grid-area: sec15;
}

/* recipe description */
#sec2 {
  grid-area: sec2;
}

/* recipe with bkgrnd image */
#sec3 {
  grid-area: sec3;
}

/* author info */
#sec4 {
  grid-area: sec4;
}

footer {
  grid-area: footer;
}

/* 'topRight topRight topRight topRight topRight'  */

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header' 'sec1 sec1 sec1 sec1 sec1' 'sec15 sec15 sec15 sec15 sec15' 'sec2 sec2 sec2 sec2 sec2' 'sec3 sec3 sec3 sec3 sec3' 'sec4 sec4 sec4 sec4 sec4' 'footer footer footer footer footer';
  grid-gap: 0px;
  row-gap: 0px;
  column-gap: 0px;
  max-width: 900px;
  margin: 0px;
  padding-bottom: 50px;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  align-items: center;
}

/* section */

.grid-container>section {
  display: grid;
  /* justify-content: center; */
  /* margin: 30px; */
}

header {
  border-bottom-width: thin;
  border-bottom-style: dashed;
  border-bottom-color: gray;
  border-width: 3px;
  padding-bottom: 20px;
}

#topLeft {
  display: inline-block;
}

#hdrLogo img {
  display: inline-block;
}

#topLeft-text {
  display: inline-block;
  padding-left: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#topLeft-text h2 {
  margin-bottom: 0px;
  margin-top: 0px;
}

#topLeft-text p {
  font-size: .75em;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
}


#topRight {
  display: inline-block;
  /* position: relative; */
  margin-left: 678px;
}

#topRight ul {
  margin: 0;
  padding: 0;
}

#topRight li {
  display: inline;
}

/* 
#sec1 {
  display: inline-block;
} */

#articleTitle-area {
  display: inline-block;
  justify-content: left;
  margin-top: 40px;
}
#articleTitle-area h1 {
  font-size: 2em;
  color: black;
  text-transform: none;
  margin-bottom: 0px;
  margin-top: 0px;
}

#articlePrint-area {
  display: inline-block;
  margin-bottom: 30px;
}

#articlePrint-area img, #articlePrint-area p{
  display: inline-block;
  margin-bottom: 0px;
  margin-top: 0px;
}

#print-icon {
  margin-left: 843px;
}

#sec15 {
  display: grid;
  width: auto;
}

#sec2 {
  display: grid;
}
.paraStyle {
  font-size: 1.1em;
  text-indent: 2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: grey;
  line-height: 1.5em;
}
#sec3 {
  display: grid;
}

#sec4 {
  display: grid;
}

footer {
  display: grid;
}




/* 
.mainIcon {
  display: inline;
  height: 20px;
  width: 20px;
} */
/* 


.recipeText p {
  margin: 100px;
  text-align: center;
  align-self: center;
}

.recipe-Container {
  position: relative;
  display: inline-block;
}

.recipeImg {
  max-width: 100%;
  height: auto;
} */
/* 
.overlay-list1 {
  position: absolute;
  /* Position the list relative to its closest positioned ancestor */
top: 0;
/* Adjust the top position as needed */
left: 0;
/* Adjust the left position as needed */
background-color: rgba(255, 255, 255, 0.7);
/* Add a background color to the list for readability */
padding: 10px;
/* Add padding to the list items for spacing */
z-index: 1;
/* Set the z-index to be above the image (usually 1 or higher) */
list-style: square;
/* Remove default list bullets */
}

*/
/* 
.overlay-list2 {
  position: absolute;
  /* Position the list relative to its closest positioned ancestor */
top: 0;
/* Adjust the top position as needed */
left: 500px;
/* Adjust the left position as needed */
background-color: rgba(255, 255, 255, 0.7);
/* Add a background color to the list for readability */
padding: 10px;
/* Add padding to the list items for spacing */
z-index: 1;
/* Set the z-index to be above the image (usually 1 or higher) */
list-style: square;
/* Remove default list bullets */

/* 
.authorInfoBlock {
  display: inline;
} */
*/